# Ignore environment files
.env

# Ignore Python virtual environments
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Ignore Pipenv files for virtual environments
*.virtualenv/

# Ignore log files
*.log

# Ignore IDE-specific settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db